<head>
    <meta charset="UTF-8">
    <title>Home School Helper</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/> <!-- This is correct to find the static/... files.-->
    <link rel="stylesheet" type="text/css" href="/css/highlevel.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/> <!-- This is correct to find the static/... files.-->
    <link rel="stylesheet" type="text/css" href="/css/dropdown.css"/> <!-- This is correct to find the static/... files.-->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d29afa4ed1.js" crossorigin="anonymous"></script>
</head>
