* {
    background-color: #446938;
}

#header-container {
  display: flex;
  flex-flow: row wrap;
  background-color: #F23D3D;
  justify-content: space-between;
}

#header-container * {
  padding: 5px 0px 3px 0px;
}

#left-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #F23D3D;
}

#left-items a {
  background-color: #F23D3D
}

.homeschoolhelper {  /* https://fonts.google.com/specimen/Caveat?preview.text=Homeschool%20Helper&preview.text_type=custom&sidebar.open=true&selection.family=Caveat:wght@700 */
  font-family: 'Caveat', cursive;
  font-size: 48px;
  background-color: #F23D3D;
}

#right-items {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  background-color: #F23D3D;
}

#lower-color {
  background-color: black;
}

hr {
  height: 10px;
  background-color: whitesmoke;
  border-width: 0px;
  margin: 0px;
}

.flex-flow-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 15% 0% 0% 0%;
}

#start-here {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 15% 0% 0% 0%;
}

#title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #E6C67C;
  padding: 5px 0px 20px;
  border-style: outset;
  border-radius: 10px;
  border-color: #309ABA;
  border-width: 5px;
}

#title a {
    background: #E6C67C;
}

#center-item {
  flex-basis: 100%;
  text-align: center;
  margin: 10px;
  font-family: 'Caveat', cursive;
  background-color: #E6C67C;
}

.login-signin {
  padding: 10px;
}

button {
  color: beige;
  background-color: #F23D3D;
  border-radius: 10px;
  font-family: "Caveat", cursive;
  border-width: 0;
}

.sign-up-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  background: whitesmoke;
  padding: 10px;
  background-color: #E6C67C;
  border-style: outset;
  border-radius: 10px;
  border-width: 5px;
  border-color: #309ABA;
}

input {
  background-color: whitesmoke;
  margin: 3px 0px 3px 0px;
}

#sign-up-finish {
  margin-top: 10px;
  font-family: 'Caveat', cursive;
  font-size: 1.25em;
  background-color: #F23D3D;
  border-radius: 10px;
}

.basic-column-box {
  background-color: #E6C67C;
  text-align: center;
  padding: 12px;
  font-size: 1.5em;
  display: flex;
  flex-flow: column wrap;
  border-radius: 8px;
  font-family: 'Caveat', cursive;
}

.basic-row-box {
  background-color: #E6C67C;
  text-align: center;
  padding: 12px;
  font-size: 1.5em;
  display: flex;
  flex-flow: row wrap;
  border-radius: 8px;
  font-family: 'Caveat', cursive;
}

.basic-row-box * {
  background-color: whitesmoke;
}

.basic-column-box * {
  background-color: whitesmoke;
}

.one-hundred-basis {
    flex-basis: 100%;
}

#create-your-account {
  font-family: 'Caveat', cursive;
  background-color: #E6C67C;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.5em;
}

#login {
  font-size: 1.25em;
  margin-top: 10px;
}
#add-button {
  margin 0px 0px 0px 0px;
  padding 0px;
  border: none;
}

#profile-pic, #plus-pic {
  background-color: #F23D3D;
}

#pageAll {
  display: grid;
  grid-template-columns: 80% 20%;
  gird-template-rows: 30px auto;
}

#students {
  grid-column: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#students p {
  background-color: #faf7fa;
}

#teacher {
  margin-top: 12px;
  grid-column: 2;
  grid-row: 1;
}

#agenda {
  margin: 12px 0px 0px 0px;
  grid-column: 2;
  grid-row: 2;
}

.daily {
  padding: 5px;
  border-radius: 10px;
  margin: 3px 20px 5px 3px;
  background-color: #EDF9E3;
  min-width: 150px;
  border-width: 3px;
  padding-right: 10px;
}

.daily * {
  background-color: #EDF9E3;
}

.container {
  display: grid;
  inline-size: 480px;
  grid-template-columns: 90px 310px 65px;
  grid-template-rows: 40px 50px 50px; /*  */
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  background-color: rgba(1, 136, 130, 0.5);
  gap: 5px 5px;
  margin: 10px;
  box-shadow: 5px 5px 10px black;
}

.name {
  grid-column: 1 / span 3;
  grid-row: 1;
  align-self: center;
  padding: 2px 0px 6px 10px;
  background-color: #faf7fa;
  margin-left: 5px;
  border-radius: 6px;
  font: 1.2em sans-serif;
  align-self: center;
}

.profilepic {
  grid-column: 1;
  grid-row: 2 / span 3;
  justify-self: center;
  align-self: center;
  background-color: #faf7fa;
  border-radius: 5px;
  font: 1em sans-serif;
}

.plan-one {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  background-color: #faf7fa;
  margin: 1px;
  border-radius: 8px;
  font: 1em sans-serif;
  padding: 3px;
}

.plan-two {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  background-color: #faf7fa;
  margin: 1px;
  border-radius: 8px;
  padding: 3px;
  font: 1em sans-serif;
}

.nav-bar-item {
  margin-right: 10px;
}

.flex-item {
  margin-left: 8px;
  background-color: #F23D3D;
}

#plus-pic:hover, #profile-pic:hover {
  text-shadow: 1px 3px 4px black;
}

#logobg:hover {
  opacity: 0.5;
}