<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
    <meta charset="UTF-8">
    <title>About Team Earth</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
        <section class="basic-row-box" id="aboutbox">

            <div class="form-standard-about">
                <div class="basic-column-box" id="about">
                    <h2 class="about-h2">David Dicken</h2>
                    <img src="/graphics/david-dicken.jpg">
                    <h4 class="about-h4">I'm a software developer from Lake Stevens, WA.  I'm fluent in Java, C++, Visual Basic, Shell Script, Javascript, HTML, CSS, Excel, SQL and will continue to learn new languages. I found my love for coding while working at a scrapyard. I took it upon myself to learn Excel for a more efficient use of time. I enjoy creating programs for storing and managing data to help businesses run smoother and more efficiently, and enjoys collaborating to resolve problems and create solutions.</h4>
                </div>
            </div>

            <div class="form-standard-about">
                <div class="basic-column-box">
                    <h2 class="about-h2">Marchael Acode</h2>
                    <img src="/graphics/marchael-acode.jpg">
                    <h4 class="about-h4">I'm currently a full stack software developer. Through this experience I will be one step closer to achieving my career goal of becoming a video game developer or video game designer. I'm inspired by the joy and feeling that video games brought me while I growing up. I hope to soon work for a company with a collaborative environment filled with great people where we continuously achieve to assist the public in a positive way.</h4>
                </div>
            </div>

            <div class="form-standard-about">
                <div class="basic-column-box">
                    <h2 class="about-h2">Paul O'Brien</h2>
                    <img src="/graphics/paul-obrien.jpg">
                    <h4 class="about-h4">I’m Paul O'Brien and I’m a Full Stack software developer with a background in Java and JavaScript. In software development, I love understanding what makes something work and then improving on its efficiency and organization. My goal is to make the best better and more understandable.
                    </h4>
                </div>
            </div>

        </section>

</body>
</html>