<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

    <header th:replace="fragments/header :: header"></header>
    <main>
        <h1>Book Page</h1>
        <div>
<!--            Add some image for the page-->
            <form action="/addBook" method="POST">
                Subject:<select name="subject">
                <option th:each="subject : ${subjects}" th:value="${subject.getId()}"
                        th:text="${subject.getSubjectMatter()}"></option>
            </select><br>
                Title: <input type="text" name="title"><br>
                Author: <input type="text" name="author"><br>
                ISBN: <input type="text" name="ISBN"><br>
                Edition: <input type="number" name="edition"><br>
<!--                Change grade level to be a dropdown-->
                Grade Level: <input type="number" name="gradeLevel"><br>
<!--                Number of units might change to an object-->
                Number of Pages: <input type="number" name="numberOfPages">
                <input type="submit" value="Add Book">
            </form>
        </div>
    </main>

</body>
</html>