<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

    <header th:replace="fragments/header :: header"></header>

    <div id="start-here">
        <div class="cheap-padding"></div>
        <div id="title">
            <h1 id="center-item">Welcome to Homeschool Helper :)</h1>
            <button class="login-signin">Login</button>
            <Button class="login-signin"> Sign Up</Button>
        </div>
        <div class="cheap-padding"></div>
    </div>

</body>
</html>