<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div id="header-container">
    <div id="left-items">
        <a href="/"><img class="flex-item" id="logobg" src="/graphics/Icon.svg"></a>
        <h1 class="homeschoolhelper">Homeschool Helper</h1>
    </div>
</div>

<div id="start-here">
    <div class="cheap-padding"></div>
    <div id="title">
        <h1 id="center-item">Welcome to Homeschool Helper :)</h1>
        <a href="/login"><button class="login-signin">Login</button></a>
        <a href="/signup"><Button class="login-signin">Sign Up</Button></a>
     </div>
     <div class="cheap-padding"></div>
</div>

</body>

<script src="js/dropdown.js"></script>

</html>