<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <header th:replace="fragments/header :: header"></header>

<section id="make-a-plan">

    <form th:if="${subCats}" action="/addBook" method="POST" class="basic-column-box" id="add-books">
        <input type="hidden" name="lessonPlanId" th:value="${lessonPlan.getId()}">
        <input type="hidden" name="subjectId" th:value="${subject.getId()}">

        Books<select name="booksId" class="subject-select">

        <option th:each="books : ${books}"
                th:text="${books.getTitle()}"
                th:value="${books.getId()}"></option>
    </select>
        <input type="submit" value="Add Book">
    </form>

    <section class="form-standard">
        <form th:unless="${subCats}" class="basic-column-box" action="/lessonPlanner" method="POST">
            <p>Create a Lesson Plan</p>
            Subject:&nbsp;<select name="subjectId" class="subject-select">
                        <option th:each="subject : ${monkey}" th:value="${subject.getId()}"
                        th:text="${subject.getSubjectMatter()}"></option>
                    </select><br>
            <input type="submit" value="Add">
        </form>

<!-- If subject has been selected this form shows subject categories -->

        <form class="basic-column-box" th:if="${subCats}"
                    action="/createLessonPlan"
                    method="POST">
            <input type="hidden" th:value="${subject.getSubjectMatter()}" name="subject">

            Subject Category<select name="subCatId" class="subject-select" required>
            <option th:each="subCat : ${subCats}" th:value="${subCat.getId()}"
                    th:text="${subCat.getCategoryName()}" class="subject-select"></option>
            </select>


            <div th:if="${display}" id="books-list">
                <ol>
                    <li th:each="display : ${display}" th:text="${display}"></li>
                </ol>
            </div>

            <input type="hidden" th:value="${user.getUserName()}" name="creator" class="basic-column-box">
            Lesson Plan Name<input type="text" name="planName" class="subject-select"><br>
            <input type="submit" value="Create Lesson Plan"> <!-- TODO: LINK BACK UP AFTER BOOK FIXED -->
        </form>

    </section>

    <form th:if="${subCats}" action="/addLink" method="POST" class="basic-column-box">
        <input type="hidden" name="lessonPlanId" th:value="${lessonPlan.getId()}">
        <input type="hidden" name="subjectId" th:value="${subject.getId()}">
        Add Links<select name="linkId" class="subject-select">
        <option th:each="link : ${links}"
                th:text="${link.getDescription()}"
                th:value="${link.getId()}"></option>
    </select>
        <input type="submit" value="Add Link">
    </form>

</section>


<!--    //============= Create Stuff =========================-->

    <section class="basic-row-box" id="create-a-box">

        <section class="form-standard">
            <form class="basic-column-box" action="/createSubject" method="POST">
                <p>Category</p>
                Create Subject<input type="text" name="subjectMatter">
                <input type="submit" value="Create">
             </form>
        </section>


        <section class="form-standard">
                <form class="basic-column-box" action="/createSubCat" method="POST">
                    <p>Create Subcategory</p>
                    Subject:&nbsp;<select name="subjectId">
                    <option th:each="subject : ${monkey}" th:value="${subject.getId()}"
                            th:text="${subject.getSubjectMatter()}"></option>
                             </select>
                    Sub Category: <input type="text" name="categoryName">
                    <input type="submit" value="Create">
                </form>
        </section>

        <section class="form-standard">
            <form class="basic-column-box" action="/createLink" method="post">
                <p>Create Link</p>
                Subject:&nbsp;<select name="subjectId">
                <option th:each="subject : ${monkey}" th:value="${subject.getId()}"
                        th:text="${subject.getSubjectMatter()}"></option>
            </select>
                Link: <input type="text" name="url">
                Description: <input type="text" name="desc">
                <input type="submit" value="Create">
            </form>
        </section>

        <section class="form-standard">
            <form class="basic-column-box" action="/createBook" method="POST">
                Subject:<select name="subject">
                <option th:each="subject : ${subjects}" th:value="${subject.getId()}"
                        th:text="${subject.getSubjectMatter()}"></option>
            </select>
                Title: <input type="text" name="title"><br>
                Author: <input type="text" name="author"><br>
                ISBN: <input type="text" name="ISBN"><br>
                Edition: <input type="number" name="edition"><br>
                <!--                Change grade level to be a dropdown-->
                Grade Level: <input type="number" name="gradeLevel"><br>
                <!--                Number of units might change to an object-->
                Number of Pages: <input type="number" name="numberOfPages">
                <input type="submit" value="Add Book">
            </form>
        </section>

    </section>

</body>

    <script th:replace="fragments/bottomcontent.html :: javascripts"></script>

</html>