<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <header th:replace="fragments/header :: header"></header>

<!--     This select the subject-->


    <section class="form-standard">
        <form th:unless="${subCats}" class="basic-column-box" action="/lessonPlanner" method="POST">
            <p>Create a Lesson Plan</p>
            Subject:&nbsp;<select name="subjectId" class="subject-select">
                        <option th:each="subject : ${monkey}" th:value="${subject.getId()}"
                        th:text="${subject.getSubjectMatter()}"></option>
                    </select><br>
            <input type="submit" value="Add">
        </form>

<!-- If subject has been selected this form shows subject categories -->

        <form class="basic-column-box" th:if="${subCats}"
              action="/createLessonPlan"
              method="POST">
            <input type="hidden" th:value="${subject.getSubjectMatter()}" name="subject">

            Subject Category:&nbsp;<select name="subCatId" class="subject-select">
            <option th:each="subCat : ${subCats}" th:value="${subCat.getId()}"
                    th:text="${subCat.getCategoryName()}" class="subject-select"></option>
        </select><br>

            Links:<select name="links" class="subject-select">
            <option th:each="link : ${links}"
                    th:text="${link.getDescription()}"
                    th:value="${link.getUrl()}"></option>
        </select><br>

            Books:<select name="booksId" class="subject-select">

            <option th:each="books : ${books}"
                    th:text="${books.getTitle()}"
                    th:value="${books.getId()}"></option>
        </select><br>
            <input type="hidden" th:value="${user.getUserName()}" name="creator">
            Lesson Plan:<input type="text" name="planName"><br>
            <input type="submit" value="Create Lesson Plan">
        </form>

        <form th:if="${subCats}" action="/addLink" method="POST">
            <input type="hidden" name="lessonPlanId" th:value="${lessonPlan.getId()}">
            <input type="hidden" name="subjectId" th:value="${subject.getId()}">
            Links:<select name="linkId">
            <option th:each="link : ${links}"
                    th:text="${link.getDescription()}"
                    th:value="${link.getId()}"></option>
        </select><br>
            <input type="submit" value="Add Link">
        </form>

    </section>


    <section class="basic-row-box" id="create-a-box">
        <section class="form-standard">
            <form class="basic-column-box" action="/createSubject" method="POST">
            Create Subject<input type="text" name="subjectMatter" value="">
            <input type="submit" value="Create">
            </form>
        </section>

        <section class="form-standard">
            <form class="basic-column-box" action="/createSubCat" method="POST">
                <p> Create a Subcategory</p>
                Subject:&nbsp;<select name="subjectId">
                <option th:each="subject : ${monkey}" th:value="${subject.getId()}"
                        th:text="${subject.getSubjectMatter()}"></option>
            </select><br>
                Sub Category: <input type="text" name="categoryName">
                <input type="submit" value="Create">
            </form>
        </section>

        <section class="form-standard">
            <form class="basic-column-box" action="/createLink" method="post">
                <p> Create a Link</p>
                Subject:&nbsp;<select name="subjectId">
                <option th:each="subject : ${monkey}" th:value="${subject.getId()}"
                        th:text="${subject.getSubjectMatter()}"></option>
            </select><br>
                Link: <input type="text" name="url">
                Description: <input type="text" name="desc">
                <input type="submit" value="Create">
            </form>
        </section>
    </section>

</body>

<script th:replace="fragments/bottomcontent.html :: javascripts"></script>

</html>