<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <section>Left Resources</section>


    <section class="flex-flow-container">
        <form th:unless="${panda}" class="basic-row-box" action="/lessonPlanner" method="POST">
            Subject:&nbsp;<select name="subjectId">
                        <option th:each="subject : ${monkey}" th:value="${subject.getId()}"
                        th:text="${subject.getSubjectMatter()}"></option>
                    </select><br>
            <input type="submit" value="Add">
        </form>


<!-- If subject has been selected this form shows subject categories -->
        <form class="basic-row-box" th:if="${panda}" action="/lessonPlanner/subCat" method="POST">
            Subject Category:&nbsp;<select name="subCatId">
            <option th:each="subCat : ${panda}" th:value="${subCat.getId()}"
                    th:text="${subCat.getCategoryName()}"></option>
        </select><br>
            <input type="submit" value="Add">
        </form>

<!--        This form displays all links to select from-->
        <form th:if="${panda}" action="/lessonPlanner/subCat" method="POST">
            Subject Category:<select name="subCatId">
            <option th:each="link : ${links}"
                    th:text="${link.getDescription()}"></option>
        </select><br>
            <input type="submit" value="Add">
        </form>

        <form action="/lessonPlan/update" method="post">
            Lesson Plan:<input type="text" name="planName"><br>
<!--            Date:<input type="date" name="date"><br>-->
            TO DB -->
<!--            Content:-->
<!--            <select name="item" id="item"></select>&lt;!&ndash; TODO: drop down of books & links & API's (need db of links and a way to add links to database &ndash;&gt;-->
<!-- TODO: write th if that checks if the select above is empty if not then create a new select below.           -->
            <input type="submit" value="Add">Submit</input>
        </form>
    </section>



        <form action="/addLink" method="post">
            Link: <input type="text" name="url">
            Description: <input type="text" name="desc">
            <input type="submit" value="Add">

        </form>



        <form action="/addSubject" method="POST">
            Subject: <input type="text" name="subjectMatter">
            <input type="submit" value="Add">
        </form>

        <form action="/addSubCat" method="POST">
            Subject: <input type="text" name="subjectName">
            Sub Category: <input type="text" name="categoryName">
            <input type="submit" value="Add">
        </form>

    <section>Right Resources</section>
</body>

<script th:replace="fragments/bottomcontent.html :: javascripts"></script>

</html>