<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <section id="pageAll">
            <div id="teacher">
                <h1>My Account Profile</h1>
                <!--        Make a image profile property in ApplicationUser constructor-->
                <!--        <img th:src="${user.()}">-->
                <p th:text="'Username: ' + ${user.getUsername()}"></p>
                <p th:if="${user.getFirstName()} !=''"
                   th:text="'First Name: ' + ${user.getFirstName()}"></p>
                <p th:if="${user.getLastName()} != ''"
                   th:text="'Last Name: ' + ${user.getLastName()}"></p>
                <p th:if="${user.getDateOfBirth()} != null"
                   th:text="'Date of Birth: ' + ${user.getDateOfBirth()}"></p>
                <p th:if="${user.getBio()} != ''" th:text="'Bio: ' + ${user.getBio()}"></p>

                <form action="/assignLesson" method="post">
                    <select name="child" >
                        <option th:each="child : ${children}" th:value="${child.getId()}" th:text="${child.getFirstName()}"></option>
                    </select>

                    <select name="lesson">
                        <option th:each="plan : ${plans}" th:value="${plan.getId()}" th:text="${plan.getPlanName()}"></option>
                    </select>
                    <input type="submit" value="Assign">
                </form>
            </div>

            <div id="students">
                <section th:each="child, iStat : ${children}" th:value="${child.getId()}" class="container">
                    <img src="/graphics/Icon.png" alt="homeschool helper logo" class='profilepic'>
                    <p th:text="${child.getFirstName()} + ' ' + ${child.getLastName()}" class="name">Paul O'Brien</p>
                    <div th:each="note : ${childNotes.get(iStat.index)}">
                        <p th:text="${note.getNotes()}"></p>
                    </div>
                    <p class="plan-one" >Content all here <br>
                    and here</p>
                    <p class="plan-two">More <br> then there</p>
                    <form action="/notes" method="POST">
                        <input type="hidden" th:value="${child.getId()}" name="childId">
                        <input type="text" name="notes">
                        <input type="submit" value="Add Note">
                    </form>
                </section>
            </div>

            <section id="agenda" class="flex-flow-container">
                <p style="text-align:center;" class="one-hundred-basis">The Weekly Lowdown</p>
                <div class="daily">
                    <p>Monday</p>
                    <p>more content here</p>
                </div>
                <div class="daily">
                    <p>Tuesday</p>
                    <p>and here</p>
                </div>
                <div class="daily">
                    <p>Wednesday</p>
                </div>
            </section>

        </section>







    </main>
</body>

<script th:replace="fragments/bottomcontent.html :: javascripts"></script>

</html>